<div><span class="uname">From 
	<span id="greeting_sender"><%= greeting.sender.user_name %></span>: </span>

	<span id="greeting_body"><%= greeting.body %></span>, 
	<%= time_ago_in_words greeting.created_at %> ago </div>