.individual-greeting
  <span class="uname"> From </span>
  <span class="greeting_sender"> #{greeting.sender.user_name} </span>
  <span class="greeting_text", id="greeting_body">#{greeting.body}</span>
  <span class="timestamp">(#{time_ago_in_words greeting.created_at} ago)</span>
