/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/*alignment styles*/
.spacer {
	height: 20pt;
}

.block_o_greetings {
  display: block;
  margin: 0 auto;
  margin: 0 auto;
  width: 80%;
}

.form_for_greetings {
  display: block;
  margin: 0 auto;
  margin: 0 auto;
  width: 80%;
}

/*text styles*/

.greeting_text {
	font-size: 15pt;
	font-family: 'Source Code Pro';
	font-weight: 400;
	padding: 5pt;	
}

.uname{
	font-size: 20pt;
	color: teal;
	font-family: 'Source Code Pro';
	font-weight: 900;
}

h1 {
	font-size: 3em;
  text-align: center;
  font-family: "Fontdiner Swanky";
  color: #cb7;
}

.timestamp {
  font-style: italic;
  color: #ccc;
}

/*Space ship css*/

.spaceship {
  position: relative;
  left: 110px;
  float: none;
  width: 500px;
  display: block;
  margin: 0 auto;
  margin: 0 auto;

}

.bubble {
  background: #ddd;
  background-size: 75px 150px;
  height: 30px;
  width: 85px;
  border-radius: 70px 70px 5px 5px;
  border-bottom: 2px solid #666;
  position: relative;
  left: 60px;
}

.ship_base {
  height: 0;
  width: 70px;
  border-top: 40px solid teal;
  border-left: 70px solid transparent;
  border-right: 70px solid transparent;
  border-radius: 20px 20px 50px 50px;
}

/*links for login and signup */

.create_session_links a{
	max-width: 80%;
	margin-left: 10pt;
	margin-right: 10pt;
	padding: 5pt;
	color: #FFFFFF;
	background-color: gray;
	text-decoration: none;
	font-family: arial;
	font-size: 20 pt;
}