/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/*alignment styles*/
.spacer {
  height: 1.5rem;
}

.center {
  display: block;
  margin: 0 auto;
  margin: 0 auto;
  width: 80%;
}

.sign-out-wrapper {
  height: 2rem;
}

.block_o_greetings {
  display: block;
  margin: 0 auto;
  margin: 0 auto;
  width: 80%;
}

.form-wrapper {
  /*border: 1px solid pink;*/
  height: 5rem;
  width: 90%;
}

.form_for_greetings {
  display: block;
  margin: 0 auto;
  margin: 0 auto;
  width: 80%;
  font-size: 1.7rem;
  font-family: 'Source Code Pro';
  font-weight: 900;
  color: teal;
}

input#greeting_body {
  height: 1.6rem;
  border-radius: 2rem;
  border-color: #cb7;
  padding-left: .5rem;
  border-style: solid;
  font-size: .55rem;
}

.individual-greeting {
    margin-top: 1.3rem;
}

input#greeting_body::placeholder { 
  color: #ddd 
}

/* greet button */
.greet-button {
  margin-right: .4rem;
}

.greet-button input[type="submit"]   {
  margin-top: .3rem;
  background-color: #e6dfbf;
  font-weight: 600;
  border: .5px solid rgba(191, 176, 14, 0.7411764);
  /*border-width: 2px;*/
  border-radius: 2rem;
  height: 2rem;
  width: 4rem;
  float: right;
  font-size: .55rem;
  box-shadow: 1px 3px 2px 0 rgba(0, 50, 50, .5);
}

input[type="submit"]:focus  {
  outline: 0;
}

.greet-button:hover {background-color: #bfb99e}

.greet-button:active {
  background-color: #3e8e41;
  box-shadow: 1px 3px 2px 0 rgba(0, 50, 50, .5);
  transform: translateY(1px);
}

button:focus {outline:0;}

.form_for_signup_and_sign_in {
  display: block;
  margin: 0 auto;
  margin: 0 auto;
  width: 80%;
  font-size: 1.7rem;
  font-family: 'Source Code Pro';
  font-weight: 900;
  color: teal;
}

#greeting_body {
  height: 1.5rem;
}

/*text styles*/

html {
 font-size: 25px;
}

.red_alert {
  color: red;
}

.greeting_text {
  font-size: 1rem;
  font-family: 'Source Code Pro';
  font-weight: 400;
  padding: .3rem;
}

.uname{
  font-size: 1.25rem;
  color: teal;
  font-family: 'Source Code Pro';
  font-weight: 900;
}

.greeting_sender {
  font-family: 'Source Code Pro';
  color: #008080;
}

h1 {
  font-size: 3rem;
  text-align: center;
  font-family: "Fontdiner Swanky";
  color: #cb7;
}

h2 {
  font-size: 1.6rem;
  text-align: center;
  font-family: "Fontdiner Swanky";
  color: #666;
}

h3 {
  font-size: 1.3rem;
  font-family: "Fontdiner Swanky";
  color: #666;
}

.timestamp {
  font-style: italic;
  color: #ccc;
}

#proof_o_sending {
  font-size: .5rem;
  font-style: italic;
  color: #666;
}

/*Space ship css*/

.spaceship {
  position: relative;
  left: 115px;
  float: none;
  width: 500px;
  display: block;
  margin: 0 auto;
  margin: 0 auto;

}

.bubble {
  background: #ddd;
  background-size: 75px 150px;
  height: 30px;
  width: 85px;
  border-radius: 70px 70px 5px 5px;
  border-bottom: 2px solid #666;
  position: relative;
  left: 66px;
}

.ship_base {
  height: 0;
  width: 70px;
  border-top: 40px solid teal;
  border-left: 75px solid transparent;
  border-right: 70px solid transparent;
  border-radius: 20px 20px 50px 50px;
}

/*links for login and signup */

.create_session_links a{

  max-width: 80%;
  border-radius: 5px;
  margin-left: .66rem;
  margin-right: .66rem;
  padding: .3rem;
  color: #FFFFFF;
  background-color: gray;
  text-decoration: none;
  font-family: arial;
  font-size: 1.25rem;
}

.sign_out_link a{
  float: right;
  border-radius: 5px;
  max-width: 80%;
  margin-left: .66rem;
  margin-right: .66rem;
  padding: .3rem;
  color: #FFFFFF;
  background-color: gray;
  text-decoration: none;
  font-family: arial;
  font-size:  1.25rem;
}

.note {
  font-size: .9rem;
  font-style: italic;
}
